<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <!--a class="navbar-brand" href="#">Fixed bottom</a-->
    <h6 class="display-7 navbar-text"> &copy; Copyright 2021. All Rights Reserved.</h6>
  </div>
</nav>
</footer>