<body style="background-color: #D3D3D3">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" width=40 height=26>&nbsp;My Personal Protfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
        <% if (title == 'Home') { %>
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/home">Home</a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if (title == 'About Me') { %>
          <a class="nav-link active" aria-current="page" href="/about">About Me</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/about">About Me</a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if (title == 'Projects') { %>
          <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/projects">Projects</a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if (title == 'Services') { %>
          <a class="nav-link active" aria-current="page" href="/services">Services</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/services">Services</a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if (title == 'Contact Me') { %>
          <a class="nav-link active" aria-current="page" href="/contact">Contact Me</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/contact">Contact Me</a>
        <% } %>
        </li>

    </div>
  </div>
</nav>