<div class="jumbotron">
  <h1 class="display-4"><p>Services</p></h1><br>

  <ul>
  <li>C# windows application programming</li>
  <li>Full-stack web development</li>
  <li>Cross-platform java application development</li>
  </ul>
  
</div>
